{% extends 'base.html' %}
{% block title %}Filter Employee{% endblock %}
{% block content %}
  <body>
    <div class="container">
        <h1>Filter Employee Details</h1>
        <hr>
        <form action="/emp/filter_emp/" method="POST">
            {% csrf_token %}
            <div class="mb-3 row">
              <label for="name" class="col-sm-3 col-form-label">Employee First/Last Name</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" id="first_name" name="name" value="{{name}}" >
              </div>
            </div>
            <div class="mb-3 row">
              <label for="dept" class="col-sm-3 col-form-label">Department</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" id="dept" name="dept" value="{{dept}}" >
              </div>
            </div>
            <div class="mb-3 row">
              <label for="role" class="col-sm-3 col-form-label">Role</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" id="role" name="role" value="{{role}}" >
              </div>
            </div>
            <div class="text-center mt-4">
                <button type="submit" class="btn btn-primary px-5">Submit</button>
              </div>
          </form>
        </div>
  </body>
{% endblock %}
