{% extends 'base.html' %}
{% block title %}Employee management system{% endblock %}
{% block content %}
<body>
    
<div class="container">
    <h1>ALL employee details</h1>
    <hr>
<table class="table table-success">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">First name</th>
        <th scope="col">Last name</th>
        <th scope="col">salary</th>
        <th scope="col">bonus</th>
        <th scope="col">phone number</th>
        <th scope="col">role</th>
        <th scope="col">department</th>
        <th scope="col">location</th>
        <th scope="col">hiredate</th>
      </tr>
    </thead>
    {% for emp in emps %}
    <tbody>
      <tr>
        <th scope="row">{{emp.id}}</th>
        <td>{{emp.first_name}}</td>
        <td>{{emp.last_name}}</td>
        <td>{{emp.salary}}</td>
        <td>{{emp.bonus}}</td>
        <td>{{emp.phone}}</td>
        <td>{{emp.role.name}}</td>
        <td>{{emp.dept.name}}</td>
        <td>{{emp.dept.location}}</td>
        <td>{{emp.hire_date}}</td>
      </tr>
    </tbody>
    {% endfor %}
  </table>
  </div>
</body>
{% endblock %}